# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
.env/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Database files
*.sqlite3

# Static files
staticfiles/
*.log

# IDE and editor files
*.swp
*.swo
*.idea/
.vscode/
*.DS_Store

# Docker files
Dockerfile
docker-compose.yml

# Other files
*.pdb
*.egg-info/
dist/
build/
*.egg

__pycache__
*.pyc
*.pyo
*.pyd
*.git
*.env
.env
*.md
